body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card {
  --bs-card-border-width: 0px !important;
}

.list-group {
  --bs-list-group-border-width: 3px !important;
  --bs-list-group-border-color: #c7c7c7 !important;
  --bs-list-group-item-padding-y: 0.6em !important;
}

.card-dashboard {
  border-radius: 10px;
}
